@import 'layouts/wrapper';
@import 'layouts/header';
@import 'layouts/footer';

@import 'components/quastion';
@import 'components/answer';
@import 'components/image';


@import 'base/buttons';

h1 {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}


a {
  text-decoration: none;
}

// .wrapper {
//   display: flex;
//   margin: auto;
// }
