.mini-title {
    text-align: center;
    margin: 0;
    padding: 5px;
}


.answers {
    display: flex;
    width: 45%;
    flex-direction: column;
  }
  .answer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 45%;
    &_good {
      background-color: green;
      color: white;
    }
    &_bad {
      background-color: red;
      color: white;
    }
  }
  .span-good {
    background-color: #50ff83;
  }
  .span-bad{
    background-color: #fc6e96;
  }

  .description {
    width: 70%;
  }