.question {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}

// .bird__audio-player {
//   display: flex;
//   >* {width: 100%;}
// }




.controls {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bird__quastion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
    text-align: center;
    width: 100%;
    >* {width: 100%;}

}

.mini-player {
  width: 100%;
}