.header {
    margin-bottom: 30px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
//   border: 1px solid;
}

.nav__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__header {
  >* {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: center;

    padding: 0 25px;
    margin: 0 10px 10px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 24px;
    line-height: 46px;
    font-size: 14px;
    // font-weight: 600;
    text-decoration: none;
    // color: #444;
    // background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;  
    vertical-align: top;
    transition: box-shadow 0.2s;










    // >* a {
    //   text-decoration: none;
    //   color: antiquewhite;
    // }

  
  }
}

.score__box {
  display: flex;
  padding: 25px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 50%;
  border: solid 5px white;
}



.topics {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.active-topics {
  color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;
}

ul {
  padding: 0;
}

li {
//   border: 1px solid;
  list-style-type: none;
  text-decoration: none;
}
