.header {
    margin-bottom: 30px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
//   border: 1px solid;
}

.score__box {
  display: flex;
  padding: 25px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 50%;
  border: solid 5px white;
}

.bird__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 5px white;
}

.topics {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.active-topics {
  color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;
}

ul {
  padding: 0;
}

li {
//   border: 1px solid;
  list-style-type: none;
}
