.wrapper {
  height: auto;
  overflow: hidden;

  max-width: 1200px;
  margin: auto;
  background-color: rgba(128, 176, 217, 0.628);
  border-radius: 50px;
  padding: 20px;
  transition:10s;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;

}

.wrapper__main {
  height: auto;

  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  transition:10s;
  justify-content: center;
}
